API_HOST=
API_PORT=
API_VERSION=

FILE_SERVER_HOST=
FILE_SERVER_PORT=
FILE_SERVER_BASE_PATH=

JWT_SECRET_KEY=

ALLOWED_CORS_ORIGINS=""

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
