<footer class="flex flex-col mt-25 gap-5 mb-20">
  <div class="flex flex-row gap-25 items-start justify-center">
    <div>
      <img
        src="placid.png"
        alt="The logo of placid. A mesh of neural networks"
        height="40"
        width="40"
        class="rounded-4xl"
      />
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col gap-1">
        <li class="text-gray-200">Explore</li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">ADHD</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Focus</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Sleep</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Relax</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Activity</a>
        </li>
      </div>
      <div></div>
      <div></div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col gap-1">
        <li class="text-gray-200">Research</li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Science</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Technology</a>
        </li>
        <li class="text-gray-500 hover:text-orange-600 hover:cursor-pointer">
          <a href="">Soundscapes</a>
        </li>
      </div>
      <div></div>
      <div></div>
    </div>
    <footer-newsletter-component></footer-newsletter-component>
  </div>
  <div class="flex flex-row gap-10 items-center justify-center">
    <p class="text-gray-400">Placid 2026</p>
    <p class="text-gray-400">Privacy Policy</p>
    <p class="text-gray-400">Support</p>
  </div>
</footer>
