<footer class="flex flex-col mt-25 gap-5 mb-20">
  <div class="flex flex-col md:flex-row gap-25 items-start justify-center">
    <div class="flex flex-row">
      <div class="flex flex-col gap-1">
        <li class="text-gray-200">Explore</li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a target="_blank" href="https://www.helpguide.org/mental-health/adhd/managing-adult-adhd"
            >ADHD</a
          >
        </li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a
            target="_blank"
            href="https://www.betterup.com/blog/15-ways-to-improve-your-focus-and-concentration-skills"
            >Focus</a
          >
        </li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a target="_blank" href="https://www.healthline.com/nutrition/17-tips-to-sleep-better"
            >Sleep</a
          >
        </li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a
            target="_blank"
            href="https://www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/relaxation-technique/art-20045368"
            >Relax</a
          >
        </li>
      </div>
      <div></div>
      <div></div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col gap-1">
        <li class="text-gray-200 underline">Research</li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a target="_blank" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC11893416/"
            >Brain science</a
          >
        </li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a
            target="_blank"
            href="https://equi-audio.co.za/the-intersection-of-brain-health-and-audiology-a-comprehensive-guide/"
            >Technology</a
          >
        </li>
        <li class="text-gray-200/60 hover:text-orange-600 hover:cursor-pointer">
          <a
            target="_blank"
            href="https://news.mit.edu/2025/evidence-40hz-gamma-stimulation-promotes-brain-health-expanding-0314"
            >Gamma stimulation</a
          >
        </li>
      </div>
      <div></div>
      <div></div>
    </div>
    <footer-newsletter-component></footer-newsletter-component>
  </div>
  <div class="flex flex-row items-center justify-center mt-5">
    <p class="text-gray-200/60">&copy; Placid 2026</p>
  </div>
</footer>
