<div class="flex flex-row justify-between items-center">
  <div class="flex flex-row gap-5">
    <img src="/public/favicon.ico" alt="Logo of placid" />
    <h3 class="text-orange-600 text-3xl font-bold">Placid</h3>
  </div>
  <ul class="flex flex-row gap-10">
    <li class="hover:text-orange-600 hover:cursor-pointer">ADHD</li>
    <li class="hover:text-orange-600 hover:cursor-pointer">Sleep</li>
    <li class="hover:text-orange-600 hover:cursor-pointer">Focus</li>
    <li class="hover:text-orange-600 hover:cursor-pointer">Relax</li>
    <li class="hover:text-orange-600 hover:cursor-pointer">Activity</li>
  </ul>
  <div class="flex flex-row gap-3">
    <button
      class="bg-gray-700 pt-1 pb-1 pl-3 pr-3 rounded hover:cursor-pointer hover:bg-orange-600"
    >
      Try Today
    </button>
    <button
      class="bg-gray-700 pt-1 pb-1 pl-3 pr-3 rounded hover:cursor-pointer hover:bg-orange-600"
    >
      Sign In
    </button>
  </div>
</div>
