<div
  class="flex flex-row items-center justify-between w-full hover:bg-gray-800/70 p-4 cursor-pointer transition-colors group rounded-md"
  (click)="onPlay()"
>
  <div class="flex items-center gap-4">
    <img
      [src]="bannerServerBaseUrl + '/' + track?.bgUrl"
      alt="Track image"
      class="w-12 h-12 rounded object-cover"
    />
    <p class="text-gray-200 md:text-lg group-hover:text-orange-500 transition-colors">
      {{ track?.name }}
    </p>
  </div>
  <button
    class="w-12 h-12 rounded-full text-white flex items-center justify-center transition-transform active:scale-95 hover:cursor-pointer"
    aria-label="Play/Pause track"
  >
    @if (playerService.isPlaying() && playerService.currentTrack()?.id === track.id) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <rect x="6" y="4" width="4" height="16" rx="1"></rect>
        <rect x="14" y="4" width="4" height="16" rx="1"></rect>
      </svg>
    } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="ml-0.5"
      >
        <polygon points="5,3 19,12 5,21"></polygon>
      </svg>
    }
  </button>
</div>
