<div
  class="flex flex-row items-center justify-between w-full hover:bg-gray-800/70 p-4 cursor-pointer transition-colors group rounded-md"
  (click)="onPlay()"
>
  <div class="flex items-center gap-4">
    <img
      [src]="bannerServerBaseUrl + '/' + track?.bgUrl"
      alt="Track image"
      class="w-12 h-12 rounded object-cover"
    />
    <p class="text-gray-200 md:text-lg group-hover:text-orange-500 transition-colors">
      {{ track?.name }}
    </p>
  </div>
  <img src="play.png" alt="Play icon" height="16" width="16" />
</div>
